.button {
	display inline-block
	box-sizing border-box
	max-width 100%
	width auto
	border-radius 4px
	transition color, background, box-shadow .3s

	&:focus {
		outline none
		border-style dashed
	}

	&:hover {
		box-shadow none
	}

	&_type {
		&_link {
			text-decoration none
		}
	}

	&_size {
		&_sm {
			padding 13px 25px
			min-width 200px
			font-size 17px
		}

		&_md {
			padding 19px 25px
			min-width 215px
			font-weight 700
			font-size 20px
		}
	}

	&_theme {
		&_border-white {
			border 2px solid white
			color white

			&:hover {
				background white
				color $color-denim-blue
			}
		}

		&_coral {
			border 2px solid $color-coral
			background $color-coral
			color white

			&:hover {
				border 2px solid darken($color-coral, 15%)
				background darken($color-coral, 15%)
				color white
			}
		}
	}

	&_shadow {
		&_coral {
			box-shadow 0 10px 20px rgba(255, 112, 112, .35)
		}
	}
}
