.button {
	display inline-block
	box-sizing border-box
	max-width 100%
	width auto
	border-style solid
	border-radius 4px
	background-clip padding-box
	text-align center
	transition color, background, box-shadow .3s


	&:focus {
		outline none
		border-style dashed
	}

	&:hover {
		box-shadow none
	}

	&_type {
		&_link {
			text-decoration none
		}
	}

	&_size {
		&_sm {
			padding 13px 25px
			min-width 200px
			border-width 2px
			font-size 17px
		}

		&_md {
			padding 19px 25px
			min-width 215px
			border-width 3px
			font-weight 700
			font-size 20px
		}
	}

	&_theme {
		&_border-white {
			border-color white
			color white

			&:hover {
				background white
				color $color-denim-blue
			}
		}

		&_border-tomato {
			border-color $color-tomato
			color $color-cinnabar

			&:hover {
				border-color $color-tomato
				background-color $color-tomato
				color white
			}
		}

		&_coral {
			border-color $color-coral
			background-color $color-coral
			color white

			&:hover {
				border-color darken($color-coral, 15%)
				background-color darken($color-coral, 15%)
				color white
			}
		}

		&_white {
			border-color white
			background-color white
			color $color-cinnabar

			&:hover {
				border-color darken(white, 15%)
				background-color darken(white, 15%)
				color $color-cinnabar
			}
		}
	}

	&_shadow {
		&_coral {
			box-shadow 0 10px 20px rgba(255, 112, 112, .35)
		}

		&_black {
			box-shadow 0 10px 20px rgba(0, 0, 0, .2)
		}
	}
}
