.hidden {
	display none
}

.visible {
	display block
}

.hidden-xs {
	@media (min-width: $xs) {
		display none
	}
}

.visible-xs {
	@media (min-width: $xs) {
		display block
	}
}

.hidden-sm {
	@media (min-width: $sm) {
		display none
	}
}

.visible-sm {
	@media (min-width: $sm) {
		display block
	}
}

.hidden-md {
	@media (min-width: $md) {
		display none
	}
}

.visible-md {
	@media (min-width: $md) {
		display block
	}
}

.hidden-lg {
	@media (min-width: $lg) {
		display none
	}
}

.visible-lg {
	@media (min-width: $lg) {
		display block
	}
}
