.nested-main {
	display flex
	flex-direction column
	align-items flex-start

	@media (min-width $md) {
		align-items flex-end
	}

	&__item {
		margin-top 5px
		max-width 100%

		@media (min-width $xs) {
			display flex
			flex-direction column
			align-items flex-start
			margin-top -30px
			padding-left 30px
		}

		@media (min-width $md) {
				align-items flex-end
				padding-right 55px
				padding-left 0
		}
	}
}

.nested-innovative {

	@media (min-width $xs) {
		display flex
		align-items flex-start
	}

	@media (min-width $md) {
		flex-direction row-reverse
	}

	&__item {
		margin auto
		padding-top 50px

		@media (min-width $xs) {
			margin 0
		}

		&:nth-child(2) {
			@media (min-width $xs) {
				margin-top 85px
				margin-left -210px
			}

			@media (min-width $md) {
				margin-right -205px
				margin-left 0
			}

			@media (min-width $lg) {
				margin-right -185px
			}
		}

		&:nth-child(3) {
			@media (min-width $xs) {
				margin-top 170px
				margin-left -210px
			}

			@media (min-width $md) {
				margin-right -205px
				margin-left 0
			}

			@media (min-width $lg) {
				margin-right -185px
			}
		}
	}
}

.nested-course {
	@media (min-width $xs) {
		display flex
		justify-content flex-start
	}

	@media (min-width $md) {
		justify-content flex-end
	}

	&__item {
		margin-bottom 15px

		&:nth-child(1) {
			@media (min-width $xs) {
				position relative
				z-index 2
				margin-top 80px
				margin-right -80px
			}
		}
	}
}

.nested-book {
	@media (min-width $xs) {
		display flex
		justify-content flex-start
	}

	@media (min-width $md) {
		justify-content flex-end
	}

	&__item {
		margin-bottom 15px

		&:nth-child(1) {
			@media (min-width $xs) {
				position relative
				z-index 2
				margin-top 85px
				margin-right -140px
			}
		}
	}
}

.nested-gameplay {
	display flex
	justify-content center

	@media (min-width $md) {
		justify-content flex-end
	}

	&__item {
		&:nth-child(1) {
			position relative
			z-index 3
			margin-top 40px
			margin-right -60px

			@media (min-width $xs) {
				margin-top 100px
				margin-right -140px
			}
		}

		&:nth-child(2) {
			position relative
			z-index 2
			margin-top 20px
			margin-right -60px

			@media (min-width $xs) {
				margin-top 50px
				margin-right -140px
			}
		}
	}
}

.nested-training {
	display flex
	justify-content flex-end

	&__item {
		display flex
		flex-direction column
		align-items flex-end
		margin-top -16px
		margin-left auto
		max-width 100%

		@media (min-width $sm) {
			padding-right 25px
		}

		&:nth-child(1) {
			padding-right 0
		}
	}
}

.nested-form {
	margin 0 auto
	padding 40px 0
	max-width 100%
	width 1075px
	border-radius 15px
	background-color white
	box-shadow 0 28px 36px 2px rgba(26, 28, 103, .2)
	font-size 0

	&__column {
		display inline-block
		box-sizing border-box
		padding 0 35px 35px
		width 33.333%
	}

	&__row {
		color $color-wet-asphalt
		font-size 15px
	}
}

.nested-social {
	display flex
	margin 0
	padding 0
	list-style-type none

	&__item {
		margin-right 30px
	}

	&__link {
		display block

		&:hover {
			opacity .7
		}
	}

	&__icon {
		display block
	}
}
