.paper {
	&-royal-blue {
		background $color-royal-blue linear-gradient(28deg, $color-black-sea 0, $color-royal-blue 100%)
	}

	&-verdepechat {
		background $color-verdepechat linear-gradient(28deg, $color-somon 0, $color-verdepechat 100%)
	}

	&-coral {
		background $color-coral linear-gradient(to right, $color-coral 0, $color-somon-2 100%)
	}

	&-orange-pink {
		background $color-orange-pink linear-gradient(67deg, $color-white-novajo 0, $color-orange-pink 100%)
	}

	&-somon {
		background $color-somon-3
	}

	&-denim-blue {
		background $color-denim-blue linear-gradient(-31deg, $color-denim-blue 0, $color-sapphire-crystal 100%)
	}

	&-medium-magenta {
		background $color-medium-magenta linear-gradient(28deg, $color-city-sky 0, $color-medium-magenta 100%)
	}

	&-black {
		background black
	}
}
