.h1 {
	margin 0
	font-size 30px
	font-family "Proxima Nova", sans-serif

	@media (min-width $sm) {
		font-size 45px
	}

	@media (min-width $md) {
		font-size 60px
	}
	
	@media (min-width $mlg) {
		font-size calc(5vw - 1.2rem + 1rem)
	}
}

.h2 {
	margin 0
	font-size 26px
	font-family "Proxima Nova", sans-serif

	@media (min-width $sm) {
		font-size 55px
	}
	
	@media (min-width $mlg) {
		font-size calc(5vw - 1.2rem + 1rem)
	}
}

.h3 {
	margin 0
	font-size 26px
	font-family "Proxima Nova", sans-serif

	@media (min-width $sm) {
		font-size 48px
	}
	
	@media (min-width $mlg) {
		font-size calc(5vw - 1.5rem + 1rem)
	}
}

.h4 {
	margin 0
	font-size 20px
	font-family "Proxima Nova", sans-serif

	@media (min-width $sm) {
		font-size 36px
	}
	
	@media (min-width $mlg) {
		font-size calc(3.5vw - 1.2rem + 1rem)
	}
}

.h5 {
	margin 0
	font-size 14px
	font-family "Open Sans", sans-serif

	@media (min-width $sm) {
		font-size 24px
	}
}

.slogan {
	margin 0
	font-size 22px
	font-family "Proxima Nova", sans-serif

	@media (min-width $sm) {
		font-size 24px
	}
	
	@media (min-width $mlg) {
		font-size calc(2vw - 1.2rem + 1rem)
	}
}

.p {
	margin 0
	font-size 14px
	font-family "Open Sans", sans-serif
}
