.h1 {
	font-size 60px
	font-family "Proxima Nova", sans-serif
}

.h2 {
	font-size 55px
	font-family "Proxima Nova", sans-serif
}

.h3 {
	font-size 48px
	font-family "Proxima Nova", sans-serif
}

.h4 {
	font-size 36px
	font-family "Proxima Nova", sans-serif
}

.h5 {
	font-size 24px
	font-family "Open Sans", sans-serif
}

.slogan {
	font-size 24px
	font-family "Proxima Nova", sans-serif
}

.p {
	font-size 14px
	font-family "Open Sans", sans-serif
}
