$color-wet-asphalt = #454545
$color-marengo = #4c5d6e
$color-gray-blue = #2c2d30
$color-royal-blue = #4059f6
$color-black-sea = #1c368e
$color-somon = #fbab7e
$color-somon-2 = #ffbe84
$color-somon-3 = #ecb26f
$color-verdepechat = #f7ce68
$color-coral = #ff7e60
$color-tomato = #FF683F
$color-cinnabar = #ff4800
$color-white-novajo = #fffcab
$color-orange-pink = #ffb667
$color-denim-blue = #194fea
$color-sapphire-crystal = #070b64
$color-city-sky = #8BC6EC
$color-medium-magenta = #9599E2
