@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima_nova_bold.woff2") format("woff2"), url("../fonts/proxima_nova_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima_nova_light.woff2") format("woff2"), url("../fonts/proxima_nova_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proxima_nova_regular.woff2") format("woff2"), url("../fonts/proxima_nova_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.section {
  color: #fff;
}
.section__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}
.paper-royal-blue {
  background: #4059f6 linear-gradient(28deg, #1c368e 0, #4059f6 100%);
}
.paper-verdepechat {
  background: #f7ce68 linear-gradient(28deg, #fbab7e 0, #f7ce68 100%);
}
.paper-coral {
  background: #ff7e60 linear-gradient(to right, #ff7e60 0, #ffbe84 100%);
}
.paper-orange-pink {
  background: #ffb667 linear-gradient(67deg, #fffcab 0, #ffb667 100%);
}
.paper-somon {
  background: #ecb26f;
}
.paper-denim-blue {
  background: #194fea linear-gradient(-31deg, #194fea 0, #070b64 100%);
}
.paper-medium-magenta {
  background: #9599e2 linear-gradient(28deg, #8bc6ec 0, #9599e2 100%);
}
.paper-black {
  background: #000;
}
.paper-indigo-creole {
  background: #5b6ec0 linear-gradient(-227deg, #5b6ec0 0, #4bc4e7 100%);
}
.paper-black-brown {
  background: #242424;
}
.color-marengo {
  color: #4c5d6e;
}
.color-gray-blue {
  color: #2c2d30;
}
.color-wet-asphalt {
  color: #454545;
}
.color-white-aluminum {
  color: #a4a4a4;
}
.h1 {
  margin: 0;
  font-size: 30px;
  font-family: "Proxima Nova", sans-serif;
}
@media (min-width: 768px) {
  .h1 {
    font-size: 45px;
  }
}
@media (min-width: 992px) {
  .h1 {
    font-size: 60px;
  }
}
.h2 {
  margin: 0;
  font-size: 26px;
  font-family: "Proxima Nova", sans-serif;
}
@media (min-width: 768px) {
  .h2 {
    font-size: 55px;
  }
}
.h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Proxima Nova", sans-serif;
}
@media (min-width: 768px) {
  .h3 {
    font-size: 48px;
  }
}
.h4 {
  margin: 0;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
}
@media (min-width: 768px) {
  .h4 {
    font-size: 36px;
  }
}
.h5 {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 768px) {
  .h5 {
    font-size: 24px;
  }
}
.slogan {
  margin: 0;
  font-size: 22px;
  font-family: "Proxima Nova", sans-serif;
}
@media (min-width: 768px) {
  .slogan {
    font-size: 24px;
  }
}
.p {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.offset-b-15 {
  margin-bottom: 15px;
}
.offset-b-25 {
  margin-bottom: 25px;
}
.offset-b-30 {
  margin-bottom: 30px;
}
.offset-b-35 {
  margin-bottom: 35px;
}
.offset-b-40 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .offset-b-40 {
    margin-bottom: 40px;
  }
}
.offset-b-50 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .offset-b-50 {
    margin-bottom: 50px;
  }
}
.offset-b-110 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .offset-b-110 {
    margin-bottom: 100px;
  }
}
.offset-b-130 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .offset-b-130 {
    margin-bottom: 130px;
  }
}
.offset-l--15 {
  margin-left: -15px;
}
.offset-r-10 {
  margin-right: 10px;
}
.button {
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  width: auto;
  border-style: solid;
  border-radius: 4px;
  background-clip: padding-box;
  text-align: center;
  transition: color, background, box-shadow 0.3s;
  user-select: none;
}
.button:hover {
  box-shadow: none;
}
.button_type_link {
  text-decoration: none;
}
.button_size_sm {
  padding: 13px 25px;
  min-width: 200px;
  border-width: 2px;
  font-size: 17px;
}
.button_size_md {
  padding: 19px 25px;
  min-width: 215px;
  border-width: 3px;
  font-weight: 700;
  font-size: 20px;
}
.button_theme_border-white {
  border-color: #fff;
  color: #fff;
}
.button_theme_border-white:hover {
  background: #fff;
  color: #194fea;
}
.button_theme_border-tomato {
  border-color: #ff683f;
  background-color: #fff;
  color: #ff4800;
}
.button_theme_border-tomato:hover {
  border-color: #ff683f;
  background-color: #ff683f;
  color: #fff;
}
.button_theme_border-white-tomato {
  border-color: #fff;
  background-color: #ff683f;
  color: #fff;
}
.button_theme_border-white-tomato:hover {
  border-color: #fff;
  background-color: #fff;
  color: #ff683f;
}
.button_theme_coral {
  border-color: #ff7e60;
  background-color: #ff7e60;
  color: #fff;
}
.button_theme_coral:hover {
  border-color: #ff532b;
  background-color: #ff532b;
  color: #fff;
}
.button_theme_white {
  border-color: #fff;
  background-color: #fff;
  color: #ff4800;
}
.button_theme_white:hover {
  border-color: #d9d9d9;
  background-color: #d9d9d9;
  color: #ff4800;
}
.button_shadow_coral {
  box-shadow: 0 10px 20px rgba(255,112,112,0.35);
}
.button_shadow_black {
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.field {
  box-sizing: border-box;
  padding: 20px;
  height: 60px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background: #f9f9f9;
  color: #b4b4b4;
  font-weight: 400;
  font-size: 18px;
  font-family: "Proxima Nova", sans-serif;
}
.field_available {
  display: block;
  width: 100%;
}
.field-checkbox {
  width: 17px;
  height: 17px;
  vertical-align: middle;
}
.card-main {
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
  padding-right: 150px;
  max-width: 100%;
  width: 350px;
  height: 60px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 10px 27px 1px rgba(51,51,102,0.5);
}
@media (min-width: 480px) {
  .card-main {
    height: 85px;
  }
}
.card-main__title {
  color: #194fea;
  font-weight: 600;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}
.card-main__icon {
  position: absolute;
  right: -60px;
  width: 200px;
  height: auto;
}
@media (min-width: 480px) {
  .card-main__icon {
    right: -90px;
    width: 250px;
  }
}
.card-innovative {
  position: relative;
  box-sizing: border-box;
  padding: 70px 40px 40px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 6px 7px 1px rgba(168,168,168,0.3);
}
@media (min-width: 480px) {
  .card-innovative {
    width: 290px;
  }
}
.card-innovative__pr {
  position: absolute;
  top: -52.5px;
  left: 50%;
  display: block;
  overflow: hidden;
  margin-left: -52.5px;
  width: 115px;
  height: auto;
  border-radius: 50%;
}
.card-innovative__text {
  font-weight: 300;
  font-size: 14px;
}
@media (min-width: 768px) {
  .card-innovative__text {
    font-size: 18px;
  }
}
.card-innovative__title {
  padding-left: 20px;
  color: #4c5d6e;
}
.card-innovative__title:nth-child(2) {
  padding-left: 5px;
}
.card-innovative__desc {
  padding-left: 20px;
  color: #2c2d30;
}
.card-course {
  box-sizing: border-box;
  padding: 20px;
  min-width: 250px;
  min-height: 250px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 1px rgba(0,0,0,0.21);
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}
.card-book {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 1px rgba(0,0,0,0.21);
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 480px) {
  .card-book {
    min-height: 285px;
    max-width: 300px;
  }
}
.card-book__desc {
  font-size: 20px;
}
.card-training {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  min-height: 78px;
  max-width: 100%;
  width: 475px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 1px rgba(0,0,0,0.21);
}
.card-training__desc {
  margin: 0 auto;
  text-align: center;
}
.card-training__budge {
  margin: 0 auto 5px;
  padding: 3px;
  width: 140px;
  border-radius: 9px;
  font-weight: 600;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card-training__budge {
    width: 175px;
    font-size: 12px;
  }
}
.card-training__budge_theme_gold {
  background: #ffcd00;
  color: #2c2d30;
}
.card-training__budge_theme_white {
  background: #fff;
  color: #5b6ec0;
}
.card-training__title {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 768px) {
  .card-training__title {
    font-size: 22px;
  }
}
.card-training__icon {
  margin-right: -5px;
}
.svg-card-main {
  border-radius: 10px;
  box-shadow: 0 10px 27px 1px rgba(51,51,102,0.5);
}
.svg-card-main__title {
  color: #194fea;
  font-weight: 600;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  fill: currentColor;
}
.svg-card-main__rect {
  fill: #fff;
}
.nested-main {
  box-sizing: border-box;
  padding-left: 32%;
  max-width: 100%;
  margin: 0;
  width: 516px;
}
.nested-main__item {
  position: relative;
  margin-top: -10%;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 10px 27px 1px rgba(51,51,102,0.5);
}
@media (min-width: 992px) {
  .nested-main__item {
    position: relative;
    align-items: flex-end;
    padding-left: 0;
  }
}
.nested-main__item:nth-child(1) {
  margin-top: 0;
}
.nested-main__item:nth-child(2) {
  left: -15%;
}
.nested-main__item:nth-child(3) {
  left: -30%;
}
.nested-main__item:nth-child(4) {
  left: -45%;
}
.nested-innovative {
  box-sizing: border-box;
  padding-left: 44%;
  max-width: 100%;
  width: 501px;
}
.nested-innovative__item {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
.nested-innovative__item:nth-child(2) {
  margin-top: -85%;
  margin-left: -40%;
}
.nested-innovative__item:nth-child(3) {
  margin-top: -85%;
  margin-left: -80%;
}
.nested-training {
  box-sizing: border-box;
  padding-left: 31%;
  max-width: 100%;
  width: 600px;
}
.nested-training-2 {
  width: 550px;
  padding-left: 21%;
}
.nested-training__item {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px 1px rgba(0,0,0,0.21);
  margin-top: -2.5%;
}
.nested-training__item:nth-child(1) {
  margin-top: 0;
}
.nested-training__item:nth-child(2) {
  margin-left: -8.8%;
}
.nested-training__item:nth-child(3) {
  margin-left: -17.6%;
}
.nested-training__item:nth-child(4) {
  margin-left: -26.400000000000002%;
}
.nested-training__item:nth-child(5) {
  margin-left: -35.2%;
}
.nested-training__item:nth-child(6) {
  margin-left: -44%;
}
.nested-course {
  box-sizing: border-box;
  padding-left: 40%;
  max-width: 100%;
  width: 420px;
}
.nested-course__item {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px 1px rgba(0,0,0,0.21);
  margin-top: -2.5%;
}
.nested-course__item:nth-child(1) {
  margin-top: 0;
}
.nested-course__item:nth-child(2) {
  margin-top: -66%;
  margin-left: -66%;
}
.nested-book {
  box-sizing: border-box;
  padding-left: 40%;
  max-width: 100%;
  width: 460px;
}
.nested-book__item {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px 1px rgba(0,0,0,0.21);
}
.nested-book__item:nth-child(1) {
  margin-top: 0;
}
.nested-book__item:nth-child(2) {
  margin-top: -66%;
  margin-left: -66%;
}
.nested-gameplay {
  display: flex;
  justify-content: center;
}
@media (min-width: 992px) {
  .nested-gameplay {
    justify-content: flex-end;
  }
}
.nested-gameplay__item:nth-child(1) {
  position: relative;
  z-index: 3;
  margin-top: 40px;
  margin-right: -60px;
}
@media (min-width: 480px) {
  .nested-gameplay__item:nth-child(1) {
    margin-top: 100px;
    margin-right: -140px;
  }
}
.nested-gameplay__item:nth-child(2) {
  position: relative;
  z-index: 2;
  margin-top: 20px;
  margin-right: -60px;
}
@media (min-width: 480px) {
  .nested-gameplay__item:nth-child(2) {
    margin-top: 50px;
    margin-right: -140px;
  }
}
.nested-form {
  margin: 0 auto;
  padding: 40px 0;
  max-width: 100%;
  width: 1075px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 28px 36px 2px rgba(26,28,103,0.2);
  font-size: 0;
}
.nested-form__column {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 15px 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .nested-form__column {
    padding: 0 15px 25px;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .nested-form__column {
    width: 33.333%;
    padding: 0 20px 35px;
  }
}
@media (min-width: 1220px) {
  .nested-form__column {
    padding: 0 35px 35px;
  }
}
.nested-form__row {
  color: #454545;
  font-size: 15px;
}
.nested-social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 992px) {
  .nested-social {
    justify-content: flex-start;
  }
}
.nested-social__item {
  margin-right: 30px;
}
.nested-social__item:last-child {
  margin-right: 0;
}
.nested-social__link {
  display: block;
}
.nested-social__link:hover {
  opacity: 0.7;
}
.nested-social__icon {
  display: block;
}
.popup-politic {
  max-width: 875px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
@media (min-width: 480px) {
  .hidden-xs {
    display: none;
  }
}
@media (min-width: 480px) {
  .visible-xs {
    display: block;
  }
}
@media (min-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
@media (min-width: 768px) {
  .visible-sm {
    display: block;
  }
}
@media (min-width: 992px) {
  .hidden-md {
    display: none;
  }
}
@media (min-width: 992px) {
  .visible-md {
    display: block;
  }
}
@media (min-width: 1220px) {
  .hidden-lg {
    display: none;
  }
}
@media (min-width: 1220px) {
  .visible-lg {
    display: block;
  }
}
.page {
  text-align: center;
  font-family: "Proxima Nova", sans-serif;
}
@media (min-width: 992px) {
  .page {
    text-align: left;
  }
}
.link {
  color: #39c;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.icon-heart {
  vertical-align: middle;
}
.section-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.section-header__container {
  padding: 20px 15px;
}
@media (min-width: 768px) {
  .section-header__container {
    display: flex;
    justify-content: space-between;
  }
}
.section-header__column_logo {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .section-header__column_logo {
    margin-bottom: none;
  }
}
.section-main {
  box-sizing: border-box;
  padding: 150px 0 40px;
}
@media (min-width: 992px) {
  .section-main {
    padding: 150px 0 100px;
  }
}
@media (min-width: 992px) {
  .section-main__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.section-main__nested {
  margin: 15px auto;
  width: 516px;
  max-width: 100%;
}
@media (min-width: 992px) {
  .section-main__nested {
    margin: 0;
  }
}
.section-innovative {
  padding: 50px 0;
}
@media (min-width: 992px) {
  .section-innovative {
    padding: 100px 0;
  }
}
@media (min-width: 992px) {
  .section-innovative__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .section-innovative__column_desc {
    padding-right: 10px;
  }
}
.section-innovative__column_pr {
  flex: auto;
  min-width: none;
}
.section-innovative__nested {
  max-width: 100%;
  width: 501px;
  margin: auto;
}
.section-training {
  padding: 40px 0;
}
@media (min-width: 992px) {
  .section-training {
    padding: 80px 0 60px;
  }
}
@media (min-width: 992px) {
  .section-training__container {
    display: flex;
    justify-content: space-between;
  }
}
.section-training__nested {
  max-width: 100%;
  width: 660px;
  margin: auto;
}
.section-course {
  padding: 40px 0;
}
@media (min-width: 992px) {
  .section-course {
    padding: 120px 0 80px;
  }
}
@media (min-width: 992px) {
  .section-course__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.section-course__nested {
  width: 420px;
  max-width: 100%;
  margin: auto;
}
@media (min-width: 992px) {
  .section-course__nested {
    padding-top: 0;
  }
}
.section-book {
  padding: 40px 0;
}
@media (min-width: 992px) {
  .section-book {
    padding: 60px 0 80px;
  }
}
@media (min-width: 992px) {
  .section-book__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .section-book__column {
    padding-right: 10px;
  }
}
.section-book__column_pr {
  flex: none;
}
.section-book__nested {
  width: 460px;
  max-width: 100%;
  margin: auto;
}
.section-gameplay {
  padding: 40px 0;
}
@media (min-width: 992px) {
  .section-gameplay {
    padding: 80px 0 95px;
  }
}
@media (min-width: 768px) {
  .section-gameplay__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.section-gameplay__pr {
  width: 120px;
  height: auto;
}
@media (min-width: 480px) {
  .section-gameplay__pr {
    width: 200px;
  }
}
@media (min-width: 992px) {
  .section-gameplay__pr {
    width: 200px;
  }
}
@media (min-width: 1220px) {
  .section-gameplay__pr {
    width: 225px;
    height: auto;
  }
}
.section-teacher {
  padding: 40px 0 0;
}
@media (min-width: 992px) {
  .section-teacher {
    padding: 80px 0 0;
  }
}
@media (min-width: 992px) {
  .section-teacher__container {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .section-teacher__column_desc {
    padding-bottom: 80px;
  }
}
.section-teacher__column_pr {
  margin-top: auto;
}
.section-teacher__pr {
  display: block;
  margin-top: auto;
  max-width: 100%;
  height: auto;
}
.section-cost {
  padding: 40px 0;
}
@media (min-width: 992px) {
  .section-cost {
    padding: 140px 0 80px;
  }
}
.section-register {
  padding: 90px 0 60px;
}
.section-register__form {
  margin-bottom: 50px;
}
.section-foo {
  padding: 60px 0;
  text-align: center;
}
.section-foo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .section-foo__container {
    flex-direction: row;
  }
}
.section-foo__column_market {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: -1;
  align-items: center;
}
@media (min-width: 480px) {
  .section-foo__column_market {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .section-foo__column_market {
    display: block;
    order: initial;
    width: 160px;
  }
}
.section-foo__column_info {
  order: -2;
}
@media (min-width: 992px) {
  .section-foo__column_info {
    order: initial;
    text-align: right;
  }
}
.section-foo__gutter {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .section-foo__gutter {
    margin-bottom: 35px;
  }
}
.section-foo__market {
  display: block;
  margin: 10px;
}
@media (min-width: 480px) {
  .section-foo__market {
    flex: auto;
  }
}
@media (min-width: 992px) {
  .section-foo__market {
    width: 100%;
  }
}
.section-foo__copy {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 992px) {
  .section-foo__copy {
    padding-top: 20px;
  }
}
.section-foo__link {
  display: inline-block;
  font-size: 18px;
}
.section-foo__link:hover {
  text-decoration: none;
}
.section-foo__made {
  font-weight: 600;
  font-size: 16px;
}
