@import "inc/variables"
@import "inc/fonts"
@import "inc/section"
@import "inc/paper"
@import "inc/typo"
@import "inc/button"

.page {
	font-family "Proxima Nova", sans-serif
}

.section-header {
	position fixed
	top 0
	right 0
	left 0

	&__container {
		display flex
		justify-content space-between
		padding 20px 0
	}

	&__logo {}

	&__button {}
}

.section-main {
	min-height 1000px
}
