@import "inc/variables"
@import "inc/fonts"
@import "inc/section"
@import "inc/paper"
@import "inc/typo"
@import "inc/gutter"
@import "inc/button"

.page {
	font-family "Proxima Nova", sans-serif
}

.section-header {
	position absolute
	top 0
	right 0
	left 0

	&__container {
		display flex
		justify-content space-between
		padding 20px 0
	}

	&__logo {}

	&__button {}
}

.section-main {
	box-sizing border-box
	padding 150px 0 100px
	min-height 620px
	color white
}
