@import "inc/variables"
@import "inc/fonts"
@import "inc/section"
@import "inc/paper"
@import "inc/color"
@import "inc/typo"
@import "inc/text"
@import "inc/gutter"
@import "inc/button"
@import "inc/field"
@import "inc/card"
@import "inc/svg-card"
@import "inc/nested"
@import "inc/popup"
@import "inc/hidden"


:focus {
	outline none
}

body .swiper {
	&-container {

	}

	&-button {
		&-prev,
		&-next {
			top 205px
			padding 0
			width 68px
			height 68px
			border none
			border-radius 50%
			background hsla(0, 0, 100%, .237)

			@media (min-width $sm) {
				top 275px
			}

			@media (min-width $lg) {
				top 50%
			}

			&:hover {
				background hsla(0, 0, 100%, .516)
			}
		}
	}
}

.selectric {

	.label {
		margin 5px 0 0
		color $color-light-gray
		text-align left
		font-weight 400
		font-size 18px
		font-family "Proxima Nova", sans-serif
	}

	.button {
		top 10px
		right 5px
		border none
		background url(../images/select-arrow.svg) center no-repeat

		&::after {
			display none
		}
	}
}

.selectric-open {
	.selectric {
		border-color $color-medium-magenta
		border-radius 5px 5px 0 0
	}

	.button {
		background url(../images/select-arrow-open.svg) center no-repeat
		font-size 0


	}

	.selectric-items {
		overflow hidden
		border-color $color-medium-magenta
		border-radius 0 0 5px 5px

		li {
			padding 15px 20px
			text-align left
			font-weight 400
			font-size 18px
			font-family "Proxima Nova", sans-serif

			&:hover,
			&.selected,
			&.highlighted {
				background $color-medium-magenta
				color white
			}
		}
	}
}

.page {
	text-align center
	font-family "Proxima Nova", sans-serif

	@media (min-width $md) {
		text-align left
	}
}

.link {
	color $color-dark-blue
	text-decoration none

	&:hover {
		text-decoration underline
	}
}

.icon-heart {
	vertical-align middle
}

.icon-auth {
	fill white

	&:hover {
		fill darken(white, 10%)
	}
}

.section-header {
	position absolute
	top 0
	right 0
	left 0

	&__container {
		display flex
		align-items center
		justify-content space-between
		padding 20px 15px
	}

	&__column {
		&_logo {
			margin-bottom 10px
			max-width 60%

			@media (min-width $sm) {
				margin-bottom none
			}
		}
	}

	&__logo {
		display block
		max-width 100%
		height auto
		
		@media (min-width $mlg) {
			width calc(20vw)
		}
	}

	&__button {}
}

.section-main {
	box-sizing border-box
	padding 70px 0 40px
	text-align center

	@media (min-width $md) {
		padding 150px 0 100px
	}

	@media (min-width $lg) {
		text-align left
	}

	&__container {
		@media (min-width $lg) {
			display flex
			align-items flex-start
			justify-content space-between
		}
	}



	&__nested {
		margin 15px auto 25px

		@media (min-width $md) {
			margin 0
		}
	}
}

.section-innovative {
	padding 50px 0
	text-align center

	@media (min-width $md) {
		padding 100px 0
	}

	@media (min-width $lg) {
		text-align left
	}

	&__container {
		@media (min-width $lg) {
			display flex
			align-items flex-start
			justify-content space-between
		}
	}


	&__column {
		&_desc {
			@media (min-width $md) {
				padding-right 10px
			}
		}

		&_pr {
			flex auto
			min-width none
		}
	}

	&__nested {
		margin auto
		max-width 100%
		width 501px
	}
}

.section-training {
	padding 40px 0

	@media (min-width $md) {
		padding 80px 0 60px
	}

	&__container {
		@media (min-width $md) {
			display flex
			justify-content space-between
		}
	}

	&__nested {
		margin auto
		max-width 100%
		width 660px
	}
}

.section-course {
	padding 40px 0

	@media (min-width $md) {
		padding 120px 0 80px
	}

	&__container {
		@media (min-width $md) {
			display flex
			align-items flex-start
			justify-content space-between
		}
	}
}

.section-book {
	padding 40px 0

	@media (min-width $md) {
		padding 60px 0 80px
	}

	&__container {
		@media (min-width $md) {
			display flex
			align-items flex-start
			justify-content space-between
		}
	}

	&__column {
		@media (min-width $md) {
			padding-right 10px
		}

		&_pr {
			flex none
		}
	}
}

.section-gameplay {
	padding 40px 0

	@media (min-width $md) {
			padding 80px 0 95px
	}

	&__container {
		@media (min-width $sm) {
			display flex
			align-items flex-start
			justify-content space-between
		}
	}

	&__pr {
		width 120px
		height auto

		@media (min-width $xs) {
			width 200px
		}

		@media (min-width $md) {
			width 200px
		}

		@media (min-width $lg) {
			width 225px
			height auto
		}

		@media (min-width $mlg) {
			width 100%
		}
	}
}

.section-teacher {
	padding 40px 0 0
	text-align center

	@media (min-width $md) {
		padding 80px 100px 0
	}

	&__container {
		@media (min-width $lg) {
			display flex
			justify-content space-between
			text-align left
		}
	}

	&__column {
		&_desc {
			@media (min-width $md) {
				padding-bottom 80px
			}
		}

		&_pr {
			margin-top auto
		}
	}

	&__pr {
		display block
		margin auto auto 20px
		max-width 100%
		width 200px
		height auto
		border-radius 50%

		@media (min-width $lg) {
			margin auto auto 0
			width auto
			border-radius 0
		}
	}
}

.section-cost {
	padding 40px 0

	@media (min-width $md) {
		padding 140px 0 80px
	}
}

.section-register {
	padding 90px 0 60px

	&__form {
		margin-bottom 50px
	}
}

.section-foo {
	padding 60px 0
	text-align center

	&__container {
		display flex
		flex-direction column
		justify-content space-between

		@media (min-width $md) {
			flex-direction row
		}
	}

	&__column {
		&_market {
			display flex
			flex-direction column
			justify-content center
			order -1
			align-items center

			@media (min-width $xs) {
				flex-direction row
			}

			@media (min-width $md) {
				display block
				order initial
				width 160px
			}
		}

		&_info {
			order -2

			@media (min-width $md) {
				order initial
				text-align right
			}
		}
	}

	&__gutter {
		margin-bottom 15px

		@media (min-width $md) {
			margin-bottom 35px
		}
	}

	&__market {
		display block
		margin 10px

		@media (min-width $xs) {
				flex auto
		}

		@media (min-width $md) {
			width 100%
		}
	}

	&__copy {
		color white
		font-weight 400
		font-size 18px
		font-family "Open Sans", sans-serif

		@media (min-width $md) {
			padding-top 20px
		}
	}

	&__link {
		display inline-block
		font-size 18px

		&:hover {
			text-decoration none
		}
	}

	&__made {
		font-weight 600
		font-size 16px
	}
}
