doctype html
html(lang="ru")
	head
		title Онлайн-школа русского языка
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(content="telephone=no", name="format-detection")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700&amp;subset=cyrillic")
		- let ts = +Date.now();
		link(rel="stylesheet", href="css/style.css?ts=" + ts)
	body.page
		.section-header.section
			.section__container.section-header__container
				.section-header__column.section-header__column_logo
					a(href="#"): img.section-header__logo(src="images/logo-white.svg" width="241" height="38" alt="Логотип: Как правильно")
				.section-header__column.section-header__column_auth
					a.button.button_size_sm.button_type_link.button_theme_border-white(href="#") Авторизация / регистрация
						
		section.section-main.section.paper-royal-blue
			.section__container
				.section__column.section__column_desc
					h2.h2.offset-b-30 Онлайн-школа
						br
						| русского языка
					p.slogan.offset-b-110 Готовься к ОГЭ, ЕГЭ по русскому языку, 
						br
						| углубляй свои знания, не выходя из дома
					a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#") Подробная информация
				.section__column.section__column_pr

		section.section-innovative.section.paper-verdepechat
			.section__container.section-innovative__container
				.section__column.section__column_desc
					h2.h2.offset-b-40 Инновационное 
						br
						| образование для всех
					p.slogan.offset-b-110 Для каждого ученика — своя 
						br
						| эффективная методика, с помощью 
						br
						| которой повышаются знания русского языка, 
						br
						| а результат экзамена возрастает в среднем в 2 раза!
					a.button.button_type_link.button_theme_white.button_size_md.button_shadow_black(href="#") Дальше
				.section__column.section__column_pr

		section.section-training.section
			.section__container.section-training__container
				.section__column.section__column_desc
					h2.h2.offset-b-40.color-marengo Тренируйся на
						br
						| увлекательных
						br
						| тренажёрах
					a.button.button_type_link.button_size_md.button_theme_border-tomato.offset-b-40(href="#") Как это работает?
					p.slogan.offset-b-40.color-gray-blue Прокачивай свой русский в игровой
						br
						| форме
					a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#") Дальше
				.section__column.section__column_pr
		
		section.section-course.section.paper-coral
			.section__container.section-course__container
				.section__column.section__column_desc
					h2.h2.offset-b-30 Готовься к ОГЭ и ЕГЭ 
						br
						| на наших курсах
					a.button.button_type_link.button_theme_border-white-tomato.button_size_md.offset-b-40(href="#") Как это работает?
					p.slogan.offset-b-30 Занятия проходят на нашем сайте в режиме 
						br
						| реального времени. Преподаватель всегда готов
						br
						| ответить на твой вопрос
					a.button.button_type_link.button_theme_white.button_size_md.button_shadow_black(href="#") Дальше
				.section__column.section__column_pr
		
		section.section-book.section
			.section__container.section-training__container
				.section__column.section__column_desc
					h2.h2.offset-b-40.color-marengo Изучай учебник,
						br
						| написанный
						br
						| простым языком
					a.button.button_type_link.button_size_md.button_theme_border-tomato.offset-b-40(href="#") Как это работает?
					p.slogan.offset-b-40.color-gray-blue Мы первыми сделали по-настоящему понятный, 
						br
						| полезный и исчерпывающий учебник. 
						br
						| Он всегда под твоей рукой!
					a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#") Дальше
				.section__column.section__column_pr
		
		section.section-gameplay.section.paper-orange-pink
			.section__container.section-training__container
				.section__column.section__column_desc
					h2.h2.offset-b-50.color-wet-asphalt Всё это —
						br
						| в игровой форме!
					a.button.button_type_link.button_size_md.button_theme_border-tomato.offset-b-40(href="#") Как это работает?
					p.slogan.offset-b-30.color-gray-blue.color-wet-asphalt Развивайся семимильными шагами, выполняя 
						br
						| задания от матрёшки Мани. Легко и просто!
					a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#") Дальше
				.section__column.section__column_pr
		
		section.section-teacher.section.paper-somon
			.section__container.section-training__container
				.section__column.section__column_desc
					h3.h3.offset-b-30 Преподаватель курса 
						br
						| ОГЭ по русскому языку
					h4.h4.offset-b-30 Хасаншин Азат Нафисович
					p.slogan.offset-b-10 — Основатель, генеральный директор,
						br
						| онлайн-школы «Как Правильно»
					p.slogan.offset-b-10 — Победитель всероссийских олимпиад
						br
						| и конференций по русскому языку
					p.slogan.offset-b-10 — Автор научно-исследовательских работ
					p.slogan.offset-b-10 — Отличник
					p.slogan.offset-b-40 — Кандидат в мастера спорта по спортивной
						br
						| борьбе
					a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#") Дальше
				.section__column.section__column_pr
		
		section.section-cost.section.paper-denim-blue
			.section__container.section-training__container
				.section__column.section__column_desc
					h2.h1.offset-b-30 Стоимость президентского
						br
						| статуса – 1000 рублей
					p.slogan.offset-b-130 Тренажёры «ВК-орфография» и «YouTube-орфография»,
						br
						| 20 занятий по подготовке к ОГЭ или ЕГЭ.
						br
						| Первое занятие бесплатно
					a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#") Дальше
