doctype html
html(lang="ru")
	head
		title Онлайн-школа русского языка
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
		meta(content="telephone=no", name="format-detection")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,500,700&amp;subset=cyrillic")
		- let ts = +Date.now();
		link(rel="stylesheet", href="css/style.css?ts=" + ts)
	body.page
		.section-header.section
			.section__container.section-header__container
				.section-header__column.section-header__column_logo
					a(href="#"): img.section-header__logo(src="images/logo-white.svg" width="241" height="38" alt="Логотип: Как правильно")
				.section-header__column.section-header__column_auth
					.hidden-sm
						a(href="#reg" data-fancybox)
							img(src="images/auth.svg" width="35" height="30" alt="Войти")
					.hidden.visible-sm
						a.button.button_size_sm.button_type_link.button_theme_border-white(href="#reg" data-fancybox) Вход / Регистрация
						
		section.section-main.section.paper-royal-blue#section-main
			.section__container.section-main__container
				.section__column.section__column_desc
					h2.h2.offset-b-30 Онлайн-школа
						br
						| русского языка
					p.slogan.offset-b-110 Готовься к ОГЭ, ЕГЭ по русскому языку, 
						br.hidden.visible-md
						| углубляй свои знания, не выходя из дома
					.hidden.visible-md
						a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#section-innovate" data-scroll) Подробная информация
				.section__column.section__column_pr
					.section-main__nested: .nested-main
						img.nested-main__item(src="images/main-1.svg" width="350" heihgt="85")
						img.nested-main__item(src="images/main-2.svg" width="350" heihgt="85")
						img.nested-main__item(src="images/main-3.svg" width="350" heihgt="85")
						img.nested-main__item(src="images/main-4.svg" width="350" heihgt="85")
					.visible.hidden-md
						a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#") Подробная информация
		section.section-innovative.section.paper-verdepechat#section-innovative
			.section__container.section-innovative__container
				.section-innovative__column.section-innovative__column_desc
					h2.h2.offset-b-40 Инновационное 
						br
						| образование для всех
					p.slogan.offset-b-110 Для каждого ученика — своя 
						br.hidden.visible-md
						| эффективная методика, с помощью 
						br.hidden.visible-md
						| которой повышаются знания русского языка, 
						br.hidden.visible-md
						| а результат экзамена возрастает в среднем в 2 раза!
					.hidden.visible-md
						a.button.button_type_link.button_theme_white.button_size_md.button_shadow_black(href="#section-training" data-scroll) Дальше
				.section-innovative__column.section-innovative__column_pr
					.nested-innovative
						img.nested-innovative__item(src="images/inno-3.png" width="280" heihgt="330")
						img.nested-innovative__item(src="images/inno-2.png" width="280" heihgt="330")
						img.nested-innovative__item(src="images/inno-1.png" width="280" heihgt="330")
		section.section-training.section#section-training
			.section__container.section-training__container
				.section__column.section__column_desc
					h2.h2.offset-b-40.color-marengo Тренируйся на
						br
						| увлекательных
						br
						| тренажёрах
					a.button.button_type_link.button_size_md.button_theme_border-tomato.offset-b-40(href="https://youtu.be/ExF_yP4s46Y" data-fancybox) Как это работает?
					p.slogan.offset-b-40.color-gray-blue Прокачивай свой русский в игровой форме
					.hidden.visible-md
						a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#section-course" data-scroll) Дальше
				.section__column.section__column_pr
					.nested-training
						img.nested-training__item(src="images/training-1.svg" width="475" heihgt="79")
						img.nested-training__item(src="images/training-2.svg" width="475" heihgt="79")
						img.nested-training__item(src="images/training-3.svg" width="475" heihgt="79")
						img.nested-training__item(src="images/training-4.svg" width="475" heihgt="79")
						img.nested-training__item(src="images/training-5.svg" width="475" heihgt="79")
						img.nested-training__item(src="images/training-6.svg" width="475" heihgt="79")
		section.section-course.section.paper-coral#section-course
			.section__container.section-course__container
				.section__column.section__column_desc
					h2.h2.offset-b-30 Готовься к ОГЭ и ЕГЭ 
						br
						| на наших курсах
					a.button.button_type_link.button_theme_border-white-tomato.button_size_md.offset-b-40(href="https://youtu.be/ExF_yP4s46Y" data-fancybox) Как это работает?
					p.slogan.offset-b-30 Занятия проходят на нашем сайте в режиме 
						br.hidden.visible-md
						| реального времени. Преподаватель всегда готов 
						br.hidden.visible-md
						| ответить на твой вопрос
					.hidden.visible-md
						a.button.button_type_link.button_theme_white.button_size_md.button_shadow_black(href="#section-book" data-scroll) Дальше
				.section__column.section__column_pr
					.section-course__nested: .nested-course
						img.nested-course__item(width="250" height="250" src="images/course-1.svg")
						img.nested-course__item(width="250" height="250" src="images/course-2.svg")
		section.section-book.section#section-book
			.section__container.section-book__container
				.section-book__column.section-book__column_desc
					h2.h2.offset-b-40.color-marengo Изучай учебник, 
						br.hidden.visible-md
						| написанный
						br.hidden.visible-md
						| простым языком
					a.button.button_type_link.button_size_md.button_theme_border-tomato.offset-b-40(href="https://youtu.be/ExF_yP4s46Y" data-fancybox) Как это работает?
					p.slogan.offset-b-40.color-gray-blue Мы первыми сделали по-настоящему понятный, 
						br.hidden.visible-md
						| полезный и исчерпывающий учебник. 
						br.hidden.visible-md
						| Он всегда под твоей рукой!
					.hidden.visible-md
						a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#section-gameplay" data-scroll) Дальше
				.section-book__column.section-book__column_pr
					.section-book__nested: .nested-book
						img.nested-book__item(width="300" height="301" src="images/book-1.svg")
						img.nested-book__item(width="300" height="301" src="images/book-2.svg")
		section.section-gameplay.section.paper-orange-pink#section-gameplay
			.section__container.section-gameplay__container
				.section__column.section__column_desc
					h2.h2.offset-b-50.color-wet-asphalt Всё это —
						br
						| в игровой форме!
					a.button.button_type_link.button_size_md.button_theme_border-tomato.offset-b-40(href="https://youtu.be/ExF_yP4s46Y" data-fancybox) Как это работает?
					p.slogan.offset-b-30.color-gray-blue.color-wet-asphalt Развивайся семимильными шагами, выполняя 
						br.hidden.visible-md
						| задания от матрёшки Мани. Легко и просто!
					.hidden.visible-md
						a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#section-teacher" data-scroll) Дальше
				.section__column.section__column_pr
					.nested-gameplay
						.nested-gameplay__item
							img.section-gameplay__pr(src="images/gameplay-red.svg" width="225" height="350" role="presentation")
						.nested-gameplay__item
							img.section-gameplay__pr(src="images/gameplay-orange.svg" width="225" height="350" role="presentation")
						.nested-gameplay__item
							img.section-gameplay__pr(src="images/gameplay-blue.svg" width="225" height="350" role="presentation")
		section.section-teacher.section.paper-somon#section-teacher
			.section__container.section-teacher__container
				.section-teacher__column.section-teacher__column_desc.section__column.section__column_desc
					h3.h3.offset-b-30 Преподаватель курса 
						br
						| ОГЭ по русскому языку
					h4.h4.offset-b-30 Хасаншин Азат Нафисович
					p.slogan.text-left — Основатель, генеральный директор, 
						br.hidden.visible-md
						| онлайн-школы «Как Правильно»
					p.slogan.text-left — Победитель всероссийских олимпиад 
						br.hidden.visible-md
						| и конференций по русскому языку
					p.slogan.text-left — Автор научно-исследовательских работ
					p.slogan.text-left — Отличник
					p.slogan.offset-b-40.text-left — Кандидат в мастера спорта по спортивной 
						br.hidden.visible-md
						| борьбе
					.hidden.visible-md
						a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#section-cost" data-scroll) Дальше
				.section-teacher__column.section-teacher__column_pr.section__column.section__column_pr
					img.section-teacher__pr(src="images/teacher.png" width="640", height="554" alt="Хасаншин Азат Нафисович")
		section.section-cost.section.paper-denim-blue#section-cost
			.section__container.section-training__container
				.section__column.section__column_desc
					h2.h1.offset-b-30 Стоимость президентского
						br
						| статуса – 1000 рублей
					p.slogan.offset-b-130 Тренажёры «ВК-орфография» и «YouTube-орфография», 
						br.hidden.visible-md
						| 20 занятий по подготовке к ОГЭ или ЕГЭ. 
						br.hidden.visible-md
						| Первое занятие бесплатно
					.hidden.visible-md
						a.button.button_type_link.button_size_md.button_theme_coral.button_shadow_coral(href="#section-register" data-scroll) Дальше
				.section__column.section__column_pr
					.section-cost__nested: .nested-training.nested-training-2
						img.nested-training__item(src="images/training-1.svg" width="475" heihgt="79")
						img.nested-training__item(src="images/training-2.svg" width="475" heihgt="79")
						img.nested-training__item(src="images/training-7.svg" width="475" heihgt="79")
											
		section.section-register.section.paper-medium-magenta.text-center#section-register
			.section__container.section-register__container
				h2.h1.offset-b-40 Зарегистрируйся и получи 
					br.hidden.visible-md
					| бесплатное первое занятие
				form()
					.section-register__form.nested-form
						.nested-form__column: input.field.field_available(placeholder="Класс обучения")
						.nested-form__column: input.field.field_available(placeholder="Желаемый курс")
						.nested-form__column: input.field.field_available(placeholder="Телефон")
						.nested-form__column: input.field.field_available(placeholder="Ваши ФИО")
						.nested-form__column: input.field.field_available(placeholder="Электронная почта")
						.nested-form__column: input.field.field_available(placeholder="Пароль")
						.nested-form__row
							input.field-checkbox.offset-r-10(type="checkbox" required)
							| Принимаю условия 
							a.link(href="#legal" data-fancybox) пользовательского соглашения
							|  и 
							a.link(href="#policy" data-fancybox) политики обработки персональных данных
					button.button.button_type_button.button_size_md.button_theme_coral.button_shadow_coral(href="#") Начать обучение
		footer.section-foo.section.paper-black-brown
			.section__container.section-foo__container
				.section-foo__column.section-foo__column_social
					.section-foo__gutter: ul.nested-social
						li.nested-social__item: a.nested-social__link(href="#"): img.nested-social__icon(src="images/vk.svg" width="52" height="52" alt="vkontakte")
						li.nested-social__item: a.nested-social__link(href="#"): img.nested-social__icon(src="images/fb.svg" width="52" height="52" alt="facebook")
						li.nested-social__item: a.nested-social__link(href="#"): img.nested-social__icon(src="images/in.svg" width="52" height="52" alt="instagram")
					.offset-b-25.hidden.visible-md
					.section-foo__copy © ООО «Как Правильно», 2016–2017
				.section-foo__column.section-foo__column_market
					a(href="#"): img.section-foo__market(src="images/google-play-market.svg" width="159" height="47" alt="google play market")
					.offset-b-25.hidden.visible-md
					a(href="#"): img.section-foo__market(src="images/app-store.svg" width="158" height="53" alt="app store")
				.section-foo__column.section-foo__column_info
					.section-foo__gutter: a.section-foo__link.color-white-aluminum(href="#") Обратная связь
					.section-foo__gutter: a.section-foo__link.color-white-aluminum(href="#legal" data-fancybox) Пользовательское соглашение
					| Сделано с 
					img.icon-heart(src="images/heart.png" width="16" height="16" alt="любовью")
					|  в Татарстане
		div(hidden)
			.popup-legal#legal
				include legal.html
			.popup-policy#policy
				include policy.html
			.popup-auth#reg
				header.popup-auth__header
					ul.pupup-auth__nav.nested-nav-auth
						li.nested-nav-auth__item(): span.nested-nav-auth__link.active Регистрация
						li.nested-nav-auth__item(): a.nested-nav-auth__link(href="#auth" data-to-popup) Вход
				.popup-auth__body
					form.nested-popup-form()
						.nested-popup-form__field: input.field.field_available(placeholder="Фамилия")
						.nested-popup-form__field: input.field.field_available(placeholder="Имя")
						.nested-popup-form__field: select.field.field_available(placeholder="Класс обучения")
							option(selected disabled) Класс обучения
							opition 1 Класс
							opition 2 Класс
							opition 3 Класс
							opition 4 Класс
						.nested-popup-form__field: input.field.field_available(type="email" placeholder="Электронная почта")
						.nested-popup-form__field: input.field.field_available(type="password" placeholder="Пароль")
						.nested-popup-form__field: input.field.field_available(type="password" placeholder="Повторить пароль")
						.nested-popup-form__politic
							input.field-checkbox.offset-r-10#check-politic-1(type="checkbox" required )
							span
								label(for="check-politic-1") Принимаю условия 
								a.link(href="#legal" data-fancybox) пользовательского соглашения
								|  и 
								a.link(href="#policy" data-fancybox) политики обработки персональных данных
						.nested-popup-form__submit.text-center
							button.button.button_type_button.button_size_md.button_theme_coral.button_shadow_coral(type="submit") Зарегистрироваться
			.popup-auth#auth
				header.popup-auth__header
					ul.pupup-auth__nav.nested-nav-auth
						li.nested-nav-auth__item(): a.nested-nav-auth__link(href="#reg" data-to-popup) Регистрация
						li.nested-nav-auth__item(): span.nested-nav-auth__link.active Вход
				.popup-auth__body
					form.nested-popup-form()
						.nested-popup-form__field: input.field.field_available(type="email" placeholder="Электронная почта")
						.nested-popup-form__field: input.field.field_available(type="password" placeholder="Пароль")
						.nested-popup-form__submit.text-center
							button.button.button_type_button.button_size_md.button_theme_coral.button_shadow_coral(type="submit") Войти
		script(src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js")
		script(src="js/main.js")
